resource/heroku.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ws.soap.assignment.introsde/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.soap.assignment.introsde/"
	name="PeopleService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://ws.soap.assignment.introsde/"
				schemaLocation="http://rodrigo-sestari-soap-server.herokuapp.com/ws/people?xsd=1" />
		</xsd:schema>
	</types>
	<message name="createPerson">
		<part name="parameters" element="tns:createPerson" />
	</message>
	<message name="createPersonResponse">
		<part name="parameters" element="tns:createPersonResponse" />
	</message>
	<message name="readPerson">
		<part name="parameters" element="tns:readPerson" />
	</message>
	<message name="readPersonResponse">
		<part name="parameters" element="tns:readPersonResponse" />
	</message>
	<message name="readPersonList">
		<part name="parameters" element="tns:readPersonList" />
	</message>
	<message name="readPersonListResponse">
		<part name="parameters" element="tns:readPersonListResponse" />
	</message>
	<message name="updatePerson">
		<part name="parameters" element="tns:updatePerson" />
	</message>
	<message name="updatePersonResponse">
		<part name="parameters" element="tns:updatePersonResponse" />
	</message>
	<message name="deletePerson">
		<part name="parameters" element="tns:deletePerson" />
	</message>
	<message name="deletePersonResponse">
		<part name="parameters" element="tns:deletePersonResponse" />
	</message>
	<message name="readPersonHistory">
		<part name="parameters" element="tns:readPersonHistory" />
	</message>
	<message name="readPersonHistoryResponse">
		<part name="parameters" element="tns:readPersonHistoryResponse" />
	</message>
	<message name="readMeasureTypes">
		<part name="parameters" element="tns:readMeasureTypes" />
	</message>
	<message name="readMeasureTypesResponse">
		<part name="parameters" element="tns:readMeasureTypesResponse" />
	</message>
	<message name="readPersonMeasure">
		<part name="parameters" element="tns:readPersonMeasure" />
	</message>
	<message name="readPersonMeasureResponse">
		<part name="parameters" element="tns:readPersonMeasureResponse" />
	</message>
	<message name="savePersonMeasure">
		<part name="parameters" element="tns:savePersonMeasure" />
	</message>
	<message name="savePersonMeasureResponse">
		<part name="parameters" element="tns:savePersonMeasureResponse" />
	</message>
	<message name="updatePersonMeasure">
		<part name="parameters" element="tns:updatePersonMeasure" />
	</message>
	<message name="updatePersonMeasureResponse">
		<part name="parameters" element="tns:updatePersonMeasureResponse" />
	</message>
	<portType name="People">
		<operation name="createPerson">
			<input
				wsam:Action="http://ws.soap.assignment.introsde/People/createPersonRequest"
				message="tns:createPerson" />
			<output
				wsam:Action="http://ws.soap.assignment.introsde/People/createPersonResponse"
				message="tns:createPersonResponse" />
		</operation>
		<operation name="readPerson">
			<input wsam:Action="http://ws.soap.assignment.introsde/People/readPersonRequest"
				message="tns:readPerson" />
			<output
				wsam:Action="http://ws.soap.assignment.introsde/People/readPersonResponse"
				message="tns:readPersonResponse" />
		</operation>
		<operation name="readPersonList">
			<input
				wsam:Action="http://ws.soap.assignment.introsde/People/readPersonListRequest"
				message="tns:readPersonList" />
			<output
				wsam:Action="http://ws.soap.assignment.introsde/People/readPersonListResponse"
				message="tns:readPersonListResponse" />
		</operation>
		<operation name="updatePerson">
			<input
				wsam:Action="http://ws.soap.assignment.introsde/People/updatePersonRequest"
				message="tns:updatePerson" />
			<output
				wsam:Action="http://ws.soap.assignment.introsde/People/updatePersonResponse"
				message="tns:updatePersonResponse" />
		</operation>
		<operation name="deletePerson">
			<input
				wsam:Action="http://ws.soap.assignment.introsde/People/deletePersonRequest"
				message="tns:deletePerson" />
			<output
				wsam:Action="http://ws.soap.assignment.introsde/People/deletePersonResponse"
				message="tns:deletePersonResponse" />
		</operation>
		<operation name="readPersonHistory">
			<input
				wsam:Action="http://ws.soap.assignment.introsde/People/readPersonHistoryRequest"
				message="tns:readPersonHistory" />
			<output
				wsam:Action="http://ws.soap.assignment.introsde/People/readPersonHistoryResponse"
				message="tns:readPersonHistoryResponse" />
		</operation>
		<operation name="readMeasureTypes">
			<input
				wsam:Action="http://ws.soap.assignment.introsde/People/readMeasureTypesRequest"
				message="tns:readMeasureTypes" />
			<output
				wsam:Action="http://ws.soap.assignment.introsde/People/readMeasureTypesResponse"
				message="tns:readMeasureTypesResponse" />
		</operation>
		<operation name="readPersonMeasure">
			<input
				wsam:Action="http://ws.soap.assignment.introsde/People/readPersonMeasureRequest"
				message="tns:readPersonMeasure" />
			<output
				wsam:Action="http://ws.soap.assignment.introsde/People/readPersonMeasureResponse"
				message="tns:readPersonMeasureResponse" />
		</operation>
		<operation name="savePersonMeasure">
			<input
				wsam:Action="http://ws.soap.assignment.introsde/People/savePersonMeasureRequest"
				message="tns:savePersonMeasure" />
			<output
				wsam:Action="http://ws.soap.assignment.introsde/People/savePersonMeasureResponse"
				message="tns:savePersonMeasureResponse" />
		</operation>
		<operation name="updatePersonMeasure">
			<input
				wsam:Action="http://ws.soap.assignment.introsde/People/updatePersonMeasureRequest"
				message="tns:updatePersonMeasure" />
			<output
				wsam:Action="http://ws.soap.assignment.introsde/People/updatePersonMeasureResponse"
				message="tns:updatePersonMeasureResponse" />
		</operation>
	</portType>
	<binding name="PeopleImplPortBinding" type="tns:People">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="createPerson">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="readPerson">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="readPersonList">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="updatePerson">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="deletePerson">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="readPersonHistory">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="readMeasureTypes">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="readPersonMeasure">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="savePersonMeasure">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="updatePersonMeasure">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="PeopleService">
		<port name="PeopleImplPort" binding="tns:PeopleImplPortBinding">
			<soap:address
				location="http://rodrigo-sestari-soap-server.herokuapp.com/ws/people" />
		</port>
	</service>
</definitions>